# misc
/frontend/node_modules
/backend/node_modules
/frontend/package.json
/frontend/package-lock.json
/backend/package.json
/backend/package-lock.json
/.pnp
.pnp.js

# misc
/backend/.DS_Store
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
